{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <!-- ***** Main Banner Area Start ***** -->
 <section id="main-banner bg-image top" class="main-banner">
  <div class="container my-5">
      <div class="row pb-0 pe-lg-0 align-items-center justify-content-center caption">
          <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
              <h2 class=" fw-bold lh-1 main-banner-text">Get the best part of your day<br><em>-you fit here.</em></h2>
              <h6 id="banner-h6">We provide serious training and diet plans for everybody!</h6>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 main-button scroll-to-section">
                  <a href="#our-program" class="banner-button">JOIN NOW</a>                      
              </div>
          </div>
          
          <div class="col-lg-6">
            <!-- Can't load the image from media file -->
              <img class="rounded-lg-3" src="media/logan-weaver-R4V1WIY9n-8-unsplash-girl-boxing-main.jpg" alt="">
          </div>
      </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->    
 {% endblock %}

{% block content %}
   

    <!-- ***** Section About Start ***** -->
    <section class="section pb-5" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading text-center">
                        <h2><i class="fa-solid fa-user-group"></i>Our Mission<em class="dot">.</em></h2>
                        <img src="media/line-dec.png" alt="">
                        <p>
                            We are distinguished by our unsurpassed motivating atmosphere, knowledgeable staff, which supports our members in meeting their individual fitness goals.
                        </p>
                        <p> 
                            The strength of our heart-felt identity is utilized to inspire every person that steps foot into their new healthy and stronger life.
                        </p>
                        <p>
                          <a href="#our-program" class="banner-button">JOIN NOW<i class="fa-solid fa-circle-chevron-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Section About End ***** -->

    
    <!-- ***** Section Workout Programs Start ***** -->
    <!-- Tiny slider found in here: https://www.youtube.com/watch?v=cmlkB3oaKOQ&list=LL&index=3 -->
    
    <section id="slider">
      <div class="container">
          <div class="subcontainer">
              <div class="slider-wrapper">
                <div>
                  <h2><i class="fa-solid fa-dumbbell"></i>Training Programs<em class="dot">.</em></h2>
                </div> 
                <br>               
                  <div class="my-slider">
                      <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@evanthewise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Evan Wise</a> on 
                              <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-1">
                                  <a href="#" id="check">Body Pump<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>
                          </div>
                          </div>
                          <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@sonniehiles?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sonnie Hiles</a> on 
                              <a href="https://unsplash.com/s/photos/yoga?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-2">
                                  <a type="button" class="btn-training" data-toggle="modal" data-target="#yogaModal">Yoga<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>                              
                          </div>
                        </div>
                        <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@lorenzohamers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lorenzo Hamers</a> on 
                              <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-3">
                                  <a href="#">Full Body<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>                           
                        </div>
                        </div>
                        <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@lgnwvr?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">LOGAN WEAVER</a> on 
                              <a href="https://unsplash.com/s/photos/boxing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-4">
                                  <a href="#">Boxing<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>                           
                        </div>
                        </div>
                        <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@grahammansfield1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">GRAHAM MANSFIELD</a> on 
                              <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>  -->
                              <div class="slide-img img-5">
                                  <a href="#">HIIT<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>                            
                          </div>
                        </div>
                        <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@thomasyohei?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thomas Yohei</a> on 
                              <a href="https://unsplash.com/s/photos/trail-running?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-6">
                                  <a href="#">Running<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>                           
                        </div>
                        </div>
                        <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@thomasyohei?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thomas Yohei</a> on 
                              <a href="https://unsplash.com/s/photos/dance-workout?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-7">
                                  <a href="#">Dance Workout<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>                             
                          </div>
                        </div>
                        <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@corey_untitled?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Corey Young</a> on 
                              <a href="https://unsplash.com/s/photos/crossfit?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-8">
                                  <a href="#">Crossfit<i class="fa-solid fa-circle-arrow-right"></i></a>
                              </div>
                        </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- ***** Section Workout Programs End ***** -->

    <!-- Modals for training programs not finished -->
<div class="modal fade" id="yogaModal" tabindex="-1" aria-labelledby="yogaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Yoga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Yoga is a mind and body practice. Various styles of yoga combine physical postures, breathing techniques, and meditation or relaxation.</p>        
      </div>
      <div class="modal-footer">
        <button type="button" class="banner-button" data-dismiss="modal">Close</button>
        <button type="button" class="banner-button">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modals -->

    <!-- ***** Section Diet Plans Start ***** -->
<section>
  <div class="text-center m-5">
    <h2><i class="fa-solid fa-bowl-rice"></i> Meal Diet<em>.</em></h2>
</div>
  <div class="container">    
    <div class="row justify-content-center">
      <div class="">
        <div class="card bg-dark text-white card-food">
          <!-- Photo by <a href="https://unsplash.com/@northernstatemedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sonny Mauricio</a> on 
            <a href="https://unsplash.com/s/photos/vegan-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
          <img src="media/sonny-mauricio-vegan.jpg" class="card-img" alt="vegeterian-food">
          <div class="card-img-overlay">
            <h5 class="card-title meal">For Vegans</h5> 
          </div>
        </div>
      </div>      
        <div class="">
          <div class="card bg-dark text-white card-food">
            <!-- Photo by <a href="https://unsplash.com/@thisisralston?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chris Ralston</a> on 
              <a href="https://unsplash.com/s/photos/meat-dishes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
            <img src="media/chris-ralston-meat.jpg" class="card-img" alt="meat-food">
            <div class="card-img-overlay">
              <h5 class="card-title meal">For Meat Eaters</h5>            
            </div>
          </div>
      </div>
      <div class="">
        <div class="card bg-dark text-white card-food">
          <!-- Photo by <a href="https://unsplash.com/@pesce?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pesce Huang</a> on 
            <a href="https://unsplash.com/s/photos/sea-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
          <img src="media/pesce-huang-vegeterian.jpg" class="card-img" alt="vegans-food">
          <div class="card-img-overlay">
            <h5 class="card-title meal">For Vegeterians</h5>           
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

    <!-- ***** Section Diet Plans End ***** -->

    <!-- ***** Section Pricing Plans Start ***** -->

    <section class="container">
      <div>
          <div class="text-center m-5">
              <h2><i class="fa-solid fa-hand-holding-dollar"></i> Pricing Plans<em>.</em></h2>
          </div>
          <div class="row row-pricing">
              <div class="">
                  <div class="card card-1" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title text-center">Healthy</h5>
                          <h6 class="card-subtitle mb-2 text-center">From 25$/month OR</h6>
                          <h6 class="card-subtitle mb-2 text-center">45$/single purchase</h6>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> New Meal plan every three months.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Personal Blog.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Free fitness consultation.</p>
                          <div class="text-center">
                            <a href="#" class="card-link">BUY NOW <i class="fa-regular fa-hand-point-right"></i></a>
                          </div>               
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="card card-2" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title text-center">Fit</h5>
                          <h6 class="card-subtitle mb-2 text-center">From 30$/month OR</h6>
                          <h6 class="card-subtitle mb-2 text-center">50$/single purchase</h6>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> New Training plan every six months.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Personal Blog.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Free fitness consultation.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Free exercise videos.</p>
                          <div class="text-center">
                            <a href="#" class="card-link card-link-2">BUY NOW <i class="fa-regular fa-hand-point-right"></i></a>
                          </div>             
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="card card-3" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title text-center"> Combo</h5>
                          <h6 class="card-subtitle mb-2 text-center">From 45$/month OR</h6>
                          <h6 class="card-subtitle mb-2 text-center">70$/single purchase</h6>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i>  New Meal and Training plans as in Fit and Healthy</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Personal Blog.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Free fitness consultation.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Free exercise videos.</p>
                          <p class="card-text"><i class="fa-solid fa-circle-check"></i> Special Price at our partners Gyms.</p>
                          <div class="text-center">
                          <a href="#" class="card-link">BUY NOW <i class="fa-regular fa-hand-point-right"></i></a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- ***** Section Pricing Plans End ***** -->

  <!-- ***** Section of Comunnity  Start ***** -->
  <!--  <div>
                          <div class="slide">
                             <div class="slide-img img-1">
                                <a href="#" id="check">Body Pump<i class="fa-solid fa-circle-arrow-right"></i></a>
                            </div>
                        </div>
                        </div> -->
  
  <section id="slider-community">
    <div class="container-community">
        <div class="subcontainer-community">
            <div class="slider-wrapper">
                <div>
                    <h2>Community<em>.</em></h2>
                </div>
                <br>
                <div class="my-slider">
                    <div>
                        <div class="slide-community">
                            <div class="slide-img-community com-img-1">
                                <a href="#">Mark A.</a>
                            </div>
                            <p>“Great plans, great price and great, helpful people. What to want more?”</p>
                        </div>
                        <div class="slide-community">
                            <div class="slide-img-community com-img-2">
                                <a href="#">Lauren K.</a>
                            </div>
                            <p>“Vagour changed my life. Not only physically but mentally as well. I’m a better mother, and all around better human being because of the professionals.”</p>
                        </div>
                        <div class="slide-community">
                            <div class="slide-img-community com-img-3">
                                <a href="#">Tom J.</a>
                            </div>
                            <p>“Love these workouts! Trainers are knowledgeable and motivating. Vigour is wonderful!”</p>
                        </div>
                        <div class="slide-community">
                            <div class="slide-img-community com-img-4">
                                <a href="#">Ema</a>
                            </div>
                            <p>“To keep the body in good health is a duty… otherwise we shall not be able to keep our mind strong and clear.”</p>
                        </div>
                        <div class="slide">
                            <div class="slide-img-community com-img-5">
                                <a href="#">Ashley</a>
                            </div>
                            <p>“Once you are exercising regularly, the hardest thing is to stop it. Thanks Vigour!”</p>
                        </div>                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Section of Comunnity End  ***** -->

<!-- ***** Section of FAQ Start  ***** -->

<section class="text-center">
  <div>
    <h2><i class="fa-solid fa-person-circle-question"></i> FAQ<em>.</em></h2>
</div>
    <div class="accordion-faq" id="accordionExample">
  <div class="card-faq">
    <div class="card-header-faq" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link-faq btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa-solid fa-arrow-down-wide-short"></i> Does the meal plans is suitible for vegeterians <i class="fa-solid fa-question"></i> 
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body-faq">
        Our nutrition coaching programs fits for everybody because we making plans for each individually. 
        We have proffesionals who can prepare diet plans for Vegans, Vegetarians and Meat eaters.
        When buying the nutrition coaching program you get to fill up the form about foods you prefer.
      </div>
    </div>
  </div>
  <div class="card-faq">
    <div class="card-header-faq" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link-faq btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa-solid fa-arrow-down-wide-short"></i> What kind of training courses can I get <i class="fa-solid fa-question"></i>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body-faq">
        <i class="fa-solid fa-arrow-down-wide-short"></i> We are making individuals workouts for begginers, adnvanced and professionals. It can be active passive or mixed. It depends on the client's goals and age.
      </div>
    </div>
  </div>
  <div class="card-faq">
    <div class="card-header-faq" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link-faq btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa-solid fa-arrow-down-wide-short"></i> What age do I need to be to join <i class="fa-solid fa-question"></i>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body-faq">
        You are welcome att all ages. There is no limits to be able to achieve your goals!
      </div>
    </div>
  </div>
  <div class="card-faq">
    <div class="card-header-faq" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link-faq btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <i class="fa-solid fa-arrow-down-wide-short"></i> Can I do exercises at home <i class="fa-solid fa-question"></i>
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body-faq">
        You can do all excercise att home, but some of them are requiring special sport gear to be effective. 
        If client will only have workouts at home, the client should mark it when purchasing workout plan.
      </div>
    </div>
  </div>
  <div class="card-faq">
    <div class="card-header-faq" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link-faq btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <i class="fa-solid fa-arrow-down-wide-short"></i> How do I cancel my membership <i class="fa-solid fa-question"></i>
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body-faq">
        You just need to press "Cancel my subscription" in user page. 
        After cancelation you are able to use privilges until the current subscription ends. 
        The Client is still able to use user page to share their active life with other Vigour members.
      </div>
    </div>
  </div>
  <div class="card-faq">
    <div class="card-header-faq" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link-faq btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <i class="fa-solid fa-arrow-down-wide-short"></i> Which Gyms are your partners <i class="fa-solid fa-question"></i>
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body-faq">
        Basic-Fit, 24/7, Nordic Wellness, JATOMI FITNESS, McFit.
      </div>
    </div>
  </div>  
</section>

<!-- ***** Section of FAQ End  ***** -->

    

{% endblock %}