{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <!-- ***** Main Banner Area Start ***** -->
 <section id="main-banner bg-image top" class="main-banner">
  <div class="container my-5">
      <div class="row pb-0 pe-lg-0 align-items-center justify-content-center caption">
          <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
              <h2 class=" fw-bold lh-1 main-banner-text">Get the best part of your day<br><em>-you fit here.</em></h2>
              <h6 id="banner-h6">We provide serious training and diet plans for everybody!</h6>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 main-button scroll-to-section">
                  <a href="#our-program" class="banner-button">JOIN NOW</a>                      
              </div>
          </div>
          
          <div class="col-lg-6">
            <!-- Can't load the image from media file -->
              <img class="rounded-lg-3" src="media/logan-weaver-R4V1WIY9n-8-unsplash-girl-boxing-main.jpg" alt="">
          </div>
      </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->    
 {% endblock %}

{% block content %}
   

    <!-- ***** Section About Start ***** -->
    <section class="section pb-5" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading text-center">
                        <h2><i class="fa-solid fa-user-group"></i>Our Mission<em class="dot">.</em></h2>
                        <img src="media/line-dec.png" alt="">
                        <p>
                            We are distinguished by our unsurpassed motivating atmosphere, knowledgeable staff, which supports our members in meeting their individual fitness goals.
                        </p>
                        <p> 
                            The strength of our heart-felt identity is utilized to inspire every person that steps foot into their new healthy and stronger life.
                        </p>
                        <p>
                          <a href="#our-program" class="banner-button">JOIN NOW<i class="fa-solid fa-circle-chevron-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Section About End ***** -->

    
    <!-- ***** Section Workout Programs Start ***** -->
    <!-- Tiny slider found in here: https://www.youtube.com/watch?v=cmlkB3oaKOQ&list=LL&index=3 -->
    <section id="slider">
      <div class="container">
          <div class="subcontainer">
              <div class="slider-wrapper">
                  <div class="text-center">
                    <h2><i class="fa-solid fa-dumbbell"></i>Training Programs<em class="dot">.</em></h2>
                  </div>
                  <br>
                  <div class="my-slider">
                      <div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@evanthewise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Evan Wise</a> on 
                              <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-1">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Body Pump</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@sonniehiles?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sonnie Hiles</a> on 
                              <a href="https://unsplash.com/s/photos/yoga?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-2">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Yoga</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@lorenzohamers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lorenzo Hamers</a> on 
                              <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-3">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Full Body Passive</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@lgnwvr?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">LOGAN WEAVER</a> on 
                              <a href="https://unsplash.com/s/photos/boxing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-4">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Boxing</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@grahammansfield1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">GRAHAM MANSFIELD</a> on 
                              <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>  -->
                              <div class="slide-img img-5">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>HIIT</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@thomasyohei?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thomas Yohei</a> on 
                              <a href="https://unsplash.com/s/photos/trail-running?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-6">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Running</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@thomasyohei?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thomas Yohei</a> on 
                              <a href="https://unsplash.com/s/photos/dance-workout?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-7">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Dance Workout</p>
                          </div>
                          <div class="slide">
                            <!-- Photo by <a href="https://unsplash.com/@corey_untitled?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Corey Young</a> on 
                              <a href="https://unsplash.com/s/photos/crossfit?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                              <div class="slide-img img-8">
                                  <a href="#">Learn More</a>
                              </div>
                              <p>Crossfit</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- ***** Section Workout Programs End ***** -->

    <!-- ***** Section Diet Plans Start ***** -->
<section>
  <div>
    <div>
      <h2>Meal Diet<em>.</em></h2>
  </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-dark text-white">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-dark text-white">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-dark text-white">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

    <!-- ***** Section Diet Plans End ***** -->

    <!-- ***** Section Pricing Plans Start ***** -->

    <section>
      <div>
          <div>
              <h2>Pricing Plans<em>.</em></h2>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Healthy</h5>
                          <h6 class="card-subtitle mb-2 text-muted">From 25$/month OR</h6>
                          <h6 class="card-subtitle mb-2 text-muted">45$/single purchase</h6>
                          <p class="card-text">New Meal plan every three months.</p>
                          <p class="card-text">Personal Blog.</p>
                          <p class="card-text">Free fitness consultation.</p>
                          <a href="#" class="card-link">JOIN NOW</a>                
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Fit</h5>
                          <h6 class="card-subtitle mb-2 text-muted">From 30$/month</h6>
                          <h6 class="card-subtitle mb-2 text-muted">50$/single purchase</h6>
                          <p class="card-text">New Training plan every six months.</p>
                          <p class="card-text">Personal Blog.</p>
                          <p class="card-text">Free fitness consultation.</p>
                          <p class="card-text">Free exercise videos.</p>
                          <a href="#" class="card-link">JOIN NOW</a>                
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Combo</h5>
                          <h6 class="card-subtitle mb-2 text-muted">From 45$/month OR</h6>
                          <h6 class="card-subtitle mb-2 text-muted">70$/single purchase</h6>
                          <p class="card-text">New Meal and Training plans as in Fit and Healthy</p>
                          <p class="card-text">Personal Blog.</p>
                          <p class="card-text">Free fitness consultation.</p>
                          <p class="card-text">Free exercise videos.</p>
                          <p class="card-text">Special Price at our partners Gyms.</p>
                          <a href="#" class="card-link">JOIN NOW</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- ***** Section Pricing Plans End ***** -->

  <!-- ***** Section of Comunnity  Start ***** -->

  <section id="slider-community">
    <div class="container">
        <div class="subcontainer">
            <div class="slider-wrapper">
                <div>
                    <h2>Community<em>.</em></h2>
                </div>
                <br>
                <div class="my-slider">
                    <div>
                        <div class="slide">
                            <div class="slide-img img-1">
                                <a href="#">Mark A.</a>
                            </div>
                            <p>“Great plans, great price and great, helpful people. What to want more?”</p>
                        </div>
                        <div class="slide">
                            <div class="slide-img img-2">
                                <a href="#">Lauren K.</a>
                            </div>
                            <p>“Vagour changed my life. Not only physically but mentally as well. I’m a better mother, and all around better human being because of the professionals.”</p>
                        </div>
                        <div class="slide">
                            <div class="slide-img img-3">
                                <a href="#">Tom J.</a>
                            </div>
                            <p>“Love these workouts! Trainers are knowledgeable and motivating. Vigour is wonderful!”</p>
                        </div>
                        <div class="slide">
                            <div class="slide-img img-3">
                                <a href="#">Ema</a>
                            </div>
                            <p>“To keep the body in good health is a duty… otherwise we shall not be able to keep our mind strong and clear.”</p>
                        </div>
                        <div class="slide">
                            <div class="slide-img img-3">
                                <a href="#">Ashley</a>
                            </div>
                            <p>“Once you are exercising regularly, the hardest thing is to stop it. Thanks Vigour!”</p>
                        </div>                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Section of Comunnity End  ***** -->

<!-- ***** Section of FAQ Start  ***** -->

<section>
  <div>
    <h2>FAQ<em>.</em></h2>
</div>
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Does the meal plans is suitible for vegeterians ? 
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Our nutrition coaching programs fits for everybody because we making plans for each individually. 
        We have proffesionals who cn prepare diet plans for Vegans, Vegetarians and Meat eaters.
        When buying the nutrition coaching program you get to fill up the form about foods you prefer.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What kind of training courses can I get?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        We are making individuals workouts for begginers, adnvanced and professionals. It can be active passive or mixed. It depends on the client's goals and age.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What age do I need to be to join?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        You are welcome att all ages. There is no limits to be able to achieve your goals!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Can I do exercises at home?
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        You can do all excercise att home, but some of them are requiring special sport gear to be effective. 
        If client will only have workouts at home, the client should mark it when purchasing workout plan.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            How do I cancel my membership?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        You just need to press "Cancel my subscription" in user page. 
        After cancelation you are able to use privilges until the current subscription ends. 
        The Client is still able to use user page to share their active life with other Vigour members.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Which Gyms are your partners?
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        Basic-Fit, 24/7, Nordic Wellness, JATOMI FITNESS, McFit.
      </div>
    </div>
  </div>  
</section>

<!-- ***** Section of FAQ End  ***** -->

    

{% endblock %}