{% extends "base.html" %}
{% load static %}

{% block page_header %}    
{% endblock %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <section id="main-banner bg-image top" class="main-banner">
        <div class="container my-5">
            <div class="row pb-0 pe-lg-0 align-items-center caption">
                <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                    <h2 class=" fw-bold lh-1 main-banner-text">Get the best part of your day-<em>you fit here</em></h2>
                    <h6>We provide serious training and diet plans for everybody!</h6>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 main-button scroll-to-section">
                        <a href="#our-program">Join Now!</a>                      
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 p-0 overflow-hidden d-none d-md-block">
                    <img class="rounded-lg-3" src="media/logan-weaver-R4V1WIY9n-8-unsplash-main-bigger-size-boxing-girl.jpg" alt="" width="720">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Section About Start ***** -->
    <section class="section" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Mission</em></h2>
                        <img src="media/line-dec.png" alt="">
                        <p>
                            We are distinguished by our unsurpassed motivating atmosphere, knowledgeable staff, which supports our members in meeting their individual fitness goals.
                        </p>
                        <p> 
                            The strength of our heart-felt identity is utilized to inspire every person that steps foot into their new healthy and stronger life.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Section About End ***** -->

    <section>
        <div class="container">
            <div class="row">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner card-deck">
                      <div class="carousel-item active">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                <!-- <div class="card-deck">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div> -->
    </section>

    
{% endblock %}