{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container" style="min-block-size: 90vh;">
    <div class="row" style="margin-top: 100px">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center text-black bg-white">Thank you for your order!</h2>
            <hr>
            <p class="text-black">Here is your order infromation. Check your email box for confirmation leter! <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="reciept-wrapper table-responsive">
        <h4>Order info:</h4>
        <table class="table">
            <!-- caption is for screen readers -->
            <caption>Order Summary</caption>  
            <tbody>
                <thead>
                    <tr>
                      <td scope="col">Order Number:</td>
                      <td>{{ order.order_number }}</td>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <td scope="col">Order Date:</td>
                      <td>{{ order.date }}</td>
                    </tr>
                  </thead>                  
              <thead>
                <tr>
                  <th scope="col">Ordered Items:</th>
                  <th scope="col">Product Name</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order.lineitems.all %}
                <tr>
                  <td class="text-center" scope="row">{{ forloop.counter}}</td>
                  <td>{{ item.product.name }}</td>
                  {% if item.product_size %}
                  <tr>
                    <td>Size:</td>
                    <td>{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}</td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td class="text-right">Quantity:</td>
                    <td>{{ item.quantity }} X ${{ item.product.price }}</td>
                  </tr>
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                  <th scope="col">Delivering infromation:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Adress</td>
                  <td>{{ order.street_address1 }}</td>
                </tr>
                {% if order.street_address2 %}
                <tr>
                    <td scope="row">Detailed adress</td>
                    <td>{{ order.street_address2 }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td scope="row">Postcode</td>
                  <td>{{ order.postcode }}</td>
                </tr>
                <tr>
                  <td scope="row">Country</td>
                  <td>{{ order.country }}</td>
                </tr>
                <tr>
                    <td scope="row">County</td>
                    <td>{{ order.county }}</td>
                  </tr>
                  <tr>
                    <td scope="row">Phone Number</td>
                    <td>{{ order.phone_number }}</td>
                  </tr>
              </tbody>
              <thead>
                <tr>
                  <th scope="col">Payment infromation:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Order Total</td>
                  <td>${{ order.order_total }}</td>
                </tr>
              
                <tr>
                  <td scope="row">Price For Delivery</td>
                  <td>${{ order.delivery_cost }}</td>
                </tr>
                <tr>
                  <td scope="row">Total Amount</td>
                  <td>${{ order.grand_total }}</td>
                </tr>                
              </tbody>              
          </table>

    <div class="row">
        <div class="col-12 col-md-6 mb-5">
            <p>Try our best diet and training programs if you don't have one!</p>
            <a href="#our-program" class="banner-button text-center text-lg-left">JOIN NOW</a>  
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            {% else %}
            <!-- link to training and diet plans -->
                <a href="" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span class="text-uppercase">Do you have best training or diet o both programs?</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
