{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container" style="min-block-size: 90vh;">
    <div class="row" style="margin-top: 100px">
        <div class="col">
            <h2 class="logo-font mb-4 text-center text-black bg-white">Thank you for your order!</h2>
            <p class="text-muted text-center mb-4">Check your email box for confirmation leter! Email was sent to <strong>{{ order.email }}</strong>.</p>
            
        </div>
    </div>
    <div class="reciept-wrapper">
        <h4>Order Details:</h4>
        <table class="table"> 
            <tbody>
                <thead>
                    <tr>
                      <td scope="col" class="text-right">Order Number:</td>
                      <td class="">{{ order.order_number }}</td>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <td class="text-right">Order Date:</td>
                      <td >{{ order.date }}</td>
                    </tr>
                  </thead>                  
              <thead>
                <tr>
                  <th scope="col">Ordered Items:</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order.lineitems.all %}
                <tr>
                  <td class="text-right" scope="row">{{ forloop.counter}}. Product Name:</td>
                  <td>{{ item.product.name }}</td>
                  {% if item.product_size %}
                  <tr>
                    <td>Size:</td>
                    <td>{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}</td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td class="text-right">Quantity:</td>
                    <td>{{ item.quantity }} X ${{ item.product.price }}</td>
                  </tr>
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                  <th scope="col">Delivery Info:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" class="text-right">Adress:</td>
                  <td>{{ order.street_address1 }}</td>
                </tr>
                {% if order.street_address2 %}
                <tr>
                    <td scope="row" class="text-right">Detailed Adress:</td>
                    <td>{{ order.street_address2 }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td scope="row" class="text-right">Postcode:</td>
                  <td>{{ order.postcode }}</td>
                </tr>
                <tr>
                  <td scope="row" class="text-right">Country:</td>
                  <td>{{ order.country }}</td>
                </tr>
                {% if order.county %}
                <tr>
                    <td scope="row" class="text-right">County:</td>
                    <td>{{ order.county }}</td>
                  </tr>
                  <tr>
                    <td scope="row" class="text-right">Phone Number:</td>
                    <td>{{ order.phone_number }}</td>
                  </tr>
                {% endif %}
              </tbody>
              <thead>
                <tr>
                  <th scope="col">Payment Info:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" class="text-right">Order Total:</td>
                  <td>${{ order.order_total }}</td>
                </tr>
              
                <tr>
                  <td scope="row" class="text-right">Price For Delivery:</td>
                  <td>${{ order.delivery_cost }}</td>
                </tr>
                <tr>
                  <td scope="row" class="text-right">Total Amount:</td>
                  <td>${{ order.grand_total }}</td>
                </tr>                
              </tbody>              
          </table>   
    <div class="row m-5 justify-content-center">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="banner-button">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            {% else %}
            <!-- link to registration -->
                <a href="/accounts/signup/" class="banner-button m-2">
                    <span class="icon mr-2">
                      <i class="fa-solid fa-hand-peace"></i>
                    </span>
                    <span class="text-uppercase">Not a member? Click here to register!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
