{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- ***** Main Banner Area Start ***** -->
<section id="main-banner bg-image top" class="main-banner">
    <div class="container-fluid-trainers">
        <div class="col-12">
            <!-- Can't load the image from media file -->
            <img class="trainers" src="{{ MEDIA_URL }}webImages/BeFunky-collage-small.jpg" alt="">
            <div class="text-block">
                <p>Our Trainers is here to help you to be the Best Version of Yourself!</p>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->    
{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    {% for trainer in trainer %}
    <div class="row row-trainers mt-5">
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-md-4">
            <h2 class="h2-color-trainers display-4">{{ trainer.trainer_name }}</h2>
            <p><small>{{ trainer.trainer_about }}</small></p>
            <ul>
                <li>{{ trainer.program1 }}</li>
                <li>{{ trainer.program2 }}</li>
                <li>{{ trainer.program3 }}</li>
            </ul>
        </div>
        <div class="col-md-6 overflow-hidden">
            <img class="coach-img float-center" src="{{ trainer.trainer_image_url }}" alt="">
            <p class="h1 trainer-highlight mt-3">{{ trainer.trainer_highlight }}</p>
            <details>
                <summary> {{ trainer.trainer_text }} </summary>
                <p> {{ trainer.trainer_text_hidden }}</p>
                {% if trainer.trainer_goals %}
                {{ trainer.trainer_goals }}
                {% endif %}
            </details>
        </div>
        <hr style="width:100%", size="3", color=black>
    </div>
    {% else %}
    <div class="col-md-6 overflow-hidden">
        <img class="coach-img float-center" src="{{ trainer.trainer_image_url }}" alt="">
        <p class="h1 trainer-highlight mt-3">{{ trainer.trainer_highlight }}</p>
        <details>
            <summary> {{ trainer.trainer_text }} </summary>
            <p> {{ trainer.trainer_text_hidden }}</p>
            {% if trainer.trainer_goals %}
            {{ trainer.trainer_goals }}
            {% endif %}
        </details>
    </div>
    <div class="col-md-4">
        <h2 class="h2-color-trainers display-4 text-right">{{ trainer.trainer_name }} </h2>
        <p class="text-right"><small>{{ trainer.trainer_about }}</small></p>
        <ul>
            <li>{{ trainer.program1 }}</li>
            <li>{{ trainer.program2 }}</li>
            <li>{{ trainer.program3 }}</li>
        </ul>
    </div>
</div>
{% if not forloop.last %}
<hr style="width:100%", size="3", color=black>
{% else %}
<hr class="d-none" style="width:100%", size="3", color=black>
{% endif %}  
{% endif %}  
{% endfor %}  
</div>
{% endblock %}
{% block postloadjs %} 
{% endblock %}