{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <!-- ***** Main Banner Area Start ***** -->

 <section id="main-banner bg-image top" class="main-banner">
  <div class="container-fluid-trainers">  
          <div class="col-12">            
            <!-- Can't load the image from media file -->
              <img class="trainers" src="{{ MEDIA_URL }}webImages/BeFunky-collage-small.jpg" alt="">
              <div class="text-block">
                <p>Our Trainers is here to help you to be the Best Version of Yourself!</p>
              </div>           
          </div>
      </div>
  
</section>
<!-- ***** Main Banner Area End ***** -->    
 {% endblock %}

{% block content %}


<div class="container-fluid mt-5">
    
    {% for trainer in trainer %}
    <div class="row row-trainers mt-5">
        {% if forloop.counter|divisibleby:2 %}
         
        
    <div class="col-md-4">
        <h2 class="h2-color-trainers display-4">{{ trainer.trainer_name }}</h2>
        <p><small>{{ trainer.trainer_about }}</small></p>
        <ul>
            <li>{{ trainer.program1 }}</li>
            <li>{{ trainer.program2 }}</li>
            <li>{{ trainer.program3 }}</li>
        </ul>
        
        
    </div>
    <div class="col-md-6 overflow-hidden"> 
        <img class="coach-img float-center" src="{{ trainer.trainer_image_url }}" alt="">
        <p class="h1 trainer-highlight mt-3">{{ trainer.trainer_highlight }}</p>
        <p> {{ trainer.trainer_text }}<span id="dots">...</span>
            <span id="more">{{ trainer.trainer_text_hidden }}</span></p>
            <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <hr style="width:100%", size="3", color=black>
</div>



{% else %}
    <div class="col-md-6 overflow-hidden"> 
        <img class="coach-img float-center" src="{{ trainer.trainer_image_url }}" alt="">
        <p class="h1 trainer-highlight mt-3">{{ trainer.trainer_highlight }}</p>
        <p> {{ trainer.trainer_text }}<span id="dots">...</span>
            <span id="more">{{ trainer.trainer_text_hidden }}</span></p>
            <button onclick="myFunction22()" id="myBtn2">Read more</button>
    </div>
    <div class="col-md-4">
        <h2 class="h2-color-trainers display-4 text-right">{{ trainer.trainer_name }} </h2>
        <p class="text-right"><small>{{ trainer.trainer_about }}</small></p>
        <ul>
            <li>{{ trainer.program1 }}</li>
            <li>{{ trainer.program2 }}</li>
            <li>{{ trainer.program3 }}</li>
        </ul>
     </div>    
</div>
{% if not forloop.last %}
              
<hr style="width:100%", size="3", color=black>

{% else %}
<hr class="d-none" style="width:100%", size="3", color=black>

{% endif %}  

{% endif %}  
{% endfor %}  

<!-- <div class="row row-trainers mt-5">
    <div class="col-md-4">
        <h2 class="h2-color-trainers display-4">{{ trainer.trainer_name }}</h2>
        <p><small>My new motto is basically you’ll never regret a workout, you’re always going to feel better so exercise to feel good.</small></p>
        <ul>
            <li>Running</li>
            <li>Trail Running</li>
            <li>Ultra Marathons</li>
        </ul>
        
        
    </div>
    <div class="col-md-6 overflow-hidden"> 
        <img class="coach-img float-center" src="{{ MEDIA_URL }}webImages/Rosie.jpg" alt="">
        <p class="h1 trainer-highlight mt-3">Hello! I’m Joe Wicks. To be honest, I don’t even see exercise as a physical thing anymore.</p>
        <p>
            Through lockdown I just see it more now as an essential mental health tool. I mean I like being fit and lean – it’s great, it feels good – but what’s more important is that I need the mental stuff. 
            When I don’t exercise I can just feel my mood’s lower,
             I’m not as productive, I’m procrastinating. Forget about the muffin tops, the moobs, the body image. You’ll lose all that as a byproduct if you’re tapping into the mental health benefits of exercise.”

“ It’s not about body fat and looking good for the camera. It’s about looking after your mind. Sometimes you can wake up feeling really flat, 
but 20 minutes later you completely change your mindset through fitness.”
<br>
           <br>
            <b>Life Goals</b>
            <br>
            <br>
        
            Joe Wicks worked as a teaching assistant after completing his sports science degree. After realising it was not his ideal job, he became a personal trainer for the next five years.

            In 2012, he appeared as a contestant on the Channel 4 game show The Bank Job. He went out first after being the only player left in the vault when the time ran out.
            
            Wicks has been a guest on several UK daytime talk shows, including Good Morning Britain, This Morning, Loose Women and Lorraine.
            
            A segment on Channel 4 named Joe Wicks: The Body Coach aired in 2016 with Wicks as the presenter. As of 2020 there have been 3 episodes.
            
            Wicks launched a range of kitchenware in 2018.</span></p>
            <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
</div> -->

</div>

{% endblock %}