/* global css */
html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: black;
}
/* end of global css */
/* Main header */
.main-banner, header, .navbar, nav a {
  background-color: black;
  color: #FFFFFF;
}
em {
  color: #4AE290;
}
.nav-link, .btn {
  padding: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
}
.nav-link:active {
  font-size: 130%;
}
.active {
  background-color: #FFFFFF;
  border: 1px solid #4AE290;
}
.nav-link:hover, .navbar-brand:hover, .dropdown-item:hover, .banner-button:hover {
  color: #4AE290;
  text-decoration: none;
}
.navbar-toggler {
  background-color: #4AE290;
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
.banner-button {
  color: black;
  background-color: white;
  padding: 5px 27px;
  font-size: revert;
  font-weight: 600;
}
.main-banner-text {
  font-weight: 700;
  padding-bottom: 20px;
}
#banner-h6{
  font-weight: 300;
}
.rounded-lg-3 {
  position: relative;
  max-width: 80%;
  max-height: auto;
}
.fixed-top {
  max-width: 1300px;
}
/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.fa-circle-chevron-right {
  color: #4AE290;
}
.fab {
  margin-top: 20px;
}
.fa-solid, .fa-circle-chevron-right{
  margin: 15px;
}
.dot{
  font-size: 30px;
  font-weight: 900;
}
#slider1 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 1600px;
  margin: auto;
}
.subcontainer {
  width: 80%;
  margin: 50px auto;
}
.slide-img {
  width: 100%;
  height: 350px;
  max-width: 500px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.5s;
  margin: auto;
}
.slide-img a, .btn-training{
  font-size: 1rem;
  color:black;
  border: 1px solid black;
  background-color: white;
  padding-left: 10px;
}
.slide-img a:hover {
  color: #4AE290;
  text-decoration: none;
}
.slide-img .fa-circle-arrow-right {
  color: #4AE290;
}

.prev,
.next {
background-color: #fff;
border: none;
padding: 0;
margin: 0;
}

.next .fa-circle-chevron-right {
  color: black;
}

.img-1 {
  background-image: url("/media/evan-wise-body-pump-small.jpg");
}
.img-2 {
  background-image: url("/media/sonnie-hiles-yoga-small.jpg");
}
.img-3 {
  background-image: url("/media/lorenzo-hamers-full-body-small.jpg");
}
.img-4 {
  background-image: url("/media/logan-weaver-boxing-small.jpg");
}
.img-5 {
  background-image: url("/media/graham-mansfield-hiit-small.jpg");
}
.img-6 {
  background-image: url("/media/jack-lemon-running-small.jpg");
}
.img-7 {
  background-image: url("/media/thomas-yohei-dance-small.jpg");
}
.img-8 {
  background-image: url("/media/corey-young-crossfit-small.jpg");
}
@media(max-width:1600px){
  .container{
      width: 100%;
 }
}
/* End of Training plans Section */

/* Meal Diet Section styles */
.card {
  max-width: 300px;
  height: auto;
}
.meal {
  font-size: 1rem;
  color:black;
  border: 1px solid black;
  background-color: white;
  width:fit-content;
  padding: 5px;
}
.card-img-overlay {
  position: absolute;
  top: 82%;
  right: 10%;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
}
.card-food {
  margin: 15px;
}
/* End of Meal section */

/* Start of Pricing section */
.row-pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1, .card-2, .card-3 {
  margin: 15px;
}
.card-2 {
  background-color: black;
  color: #FFFFFF;
}
.row-pricing .card-title {
  margin-bottom: 30px;
}
.card-link {
  color: black;
  border: solid 1px black;
  padding: 10px;
}
.card-link-2{
  color: white;
  border: solid 1px white;
  padding: 10px;
}
.card-link .fa-hand-point-right {
  color: #4AE290;
}
.card-link:hover {
  color: #4AE290;
}

/* Start of community section */

#slider2{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-img-community {
  width: 100%;
  height: 350px;
  max-width: 400px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.5s;
  color: white;  
  margin: auto;
}
.com-img-1 {
  background-image: url("/media/gordon-cowie-mark-a.jpg");
}
.com-img-2 {
  background-image: url("/media/taylor-lauren-k.jpg");
}
.com-img-3 {
  background-image: url("/media/josh-duke-tom-j.jpg");
}
.com-img-4{
  background-image: url("/media/subtle-cinematics-ema-b.jpg");
}
.com-img-5 {
  background-image: url("/media/sushil-ghimire-ashley.jpg");
}
.com-img-8 {
  background-image: url("/media/alexandra-tran-vigour.jpg");
}

.slide-img-community p {
padding: 0 0 0 10px;
background-color: #000000a2;
}

.tns-controls {
  text-align-last: end;
  background-color: #fff;
}
.prev-com,
.next-com {
background-color: #fff;
border: none;
padding: 0;
margin: 0;
}

.next-com .fa-circle-chevron-right {
  color: black;
}

@media(max-width:1600px){
  .container{
      width: 100%;
 }
}

@media(max-width:1200px){
  .tns-controls {
    text-align-last: center;
  }
}


/* FAQ section start */
.card-faq {
  color: black;
  background-color: white;
  margin: 20px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  
}
.card-header-faq{
  
  color: black;
  border: 1px solid black;
}

.card-body-faq {
  padding: 20px;
}

.accordion-faq {
  text-align: -webkit-center;
  margin-bottom: 50px;
}

.btn-link-faq {
  display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn-link-faq:hover{
  color: #4AE290;
}

.fa-question {
  color: #4AE290;
}
 .faq {
   margin:50px;
 }

 /* End of FAQ section */

 /* Start of Footer section */


 footer {
  height: 100px;
  background-color: black;
  
}

footer .list-inline a {
  margin: 0;
  padding: 0;
  color:#4AE290;
}



footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.fa-stack-1x, .fa-stack-2x{
  line-height: initial !important;
}

.copyright, 
.copyright a {
  font-size: 1.5rem;
  color:white;
}

footer .row{
  margin: 0;
}

.fa-angles-up{
  color:#4AE290;
}

footer .list-inline-item a:hover{
  font-size: 120%;
}


/* End Of INDEX.HTML */


/* Start of SHOP.HTML */

/* Content nav bar  */

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
}

.navbar-shop{
  background-color: white;
}
