/* global css */
html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: black;
  height: 100%;
}
/* end of global css */
/* Main header */

/* Nav Css */
@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}

.text-info {
  color: #4AE290!important;
}


.main-banner, header, .navbar, nav a {
  background-color: black;
  color: #FFFFFF;
}
em {
  color: #4AE290;
}
.nav-link .btn {
  padding: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
}
/* .nav-link:active {
  font-size: 130%;
} */
.active {
  background-color: #FFFFFF;
  border: 1px solid #4AE290;
}
.nav-link:hover, .navbar-brand:hover, .dropdown-item:hover, .banner-button:hover {
  color: #4AE290;
  text-decoration: none;
}
.navbar-toggler {
  background-color: #4AE290;
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
/* Mobile Nav */

/* Banner index.html */
.banner-button {
  color: black;
  background-color: white;
  padding: 5px 27px;
  font-size: revert;
  font-weight: 600;
}
.main-banner-text {
  font-weight: 700;
  padding-bottom: 20px;
}
#banner-h6{
  font-weight: 300;
}
.rounded-lg-3 {
  position: relative;
  max-width: 80%;
  max-height: auto;
}
.fixed-top {
  max-width: 1300px;
}
/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.fa-circle-chevron-right {
  color: #4AE290;
}
.fab {
  margin-top: 20px;
}
.fa-solid, .fa-circle-chevron-right{
  margin: 15px;
}
.dot{
  font-size: 30px;
  font-weight: 900;
}
#slider1 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 1600px;
  margin: auto;
}
.subcontainer {
  width: 80%;
  margin: 50px auto;
}
.slide-img {
  width: 100%;
  height: 350px;
  max-width: 500px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.5s;
  margin: auto;
}
.slide-img a, .btn-training{
  font-size: 1rem;
  color:black;
  border: 1px solid black;
  background-color: white;
  padding-left: 10px;
}
.slide-img a:hover {
  color: #4AE290;
  text-decoration: none;
}
.slide-img .fa-circle-arrow-right {
  color: #4AE290;
}

.prev,
.next {
background-color: #fff;
border: none;
padding: 0;
margin: 0;
}

.next .fa-circle-chevron-right {
  color: black;
}

.img-1 {
  background-image: url("/media/webImages/evan-wise-body-pump-small.jpg");
}
.img-2 {
  background-image: url("/media/webImages/sonnie-hiles-yoga-small.jpg");
}
.img-3 {
  background-image: url("/media/webImages/lorenzo-hamers-full-body-small.jpg");
}
.img-4 {
  background-image: url("/media/webImages/logan-weaver-boxing-small.jpg");
}
.img-5 {
  background-image: url("/media/webImages/graham-mansfield-hiit-small.jpg");
}
.img-6 {
  background-image: url("/media/webImages/jack-lemon-running-small.jpg");
}
.img-7 {
  background-image: url("/media/webImages/thomas-yohei-dance-small.jpg");
}
.img-8 {
  background-image: url("/media/webImages/corey-young-crossfit-small.jpg");
}
@media(max-width:1600px){
  .container{
      width: 100%;
 }
}
/* End of Training plans Section */

/* Meal Diet Section styles */
.card {
  max-width: 300px;
  height: auto;
}
.meal {
  font-size: 1rem;
  color:black;
  border: 1px solid black;
  background-color: white;
  width:fit-content;
  padding: 5px;
}
.card-img-overlay {
  position: absolute;
  top: 82%;
  right: 10%;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
}
.card-food {
  margin: 15px;
}

#slider3{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-img-meal {
  max-width: 400px;
  height: auto;
  width: 100%;
  height: 434px;
  max-width: 400px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.5s;
  color: white;
  margin: auto;
}

.prev-meal,
.next-meal {
background-color: #fff;
border: none;
padding: 0;
margin: 0;
}

.next-meal .fa-circle-chevron-right {
  color: black;
}

.meal-img-1 {
  background-image: url("/media/webImages/sonny-mauricio-vegan.jpg");
}
.meal-img-2 {
  background-image: url("/media/webImages/chris-ralston-meat.jpg");
}
.meal-img-3 {
  background-image: url("/media/webImages/pesce-huang-vegeterian.jpg");
}

.container-fluid {
  max-width: 1400px;
}

/* End of Meal section */

/* Start of Pricing section */
.row-pricing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.subcontainer-price { 
  margin: 50px auto;
}

.prev-price,
.next-price {
background-color: #fff;
border: none;
padding: 0;
margin: 0;
}

.next-price .fa-circle-chevron-right {
  color: black;
}

.card-1, .card-2, .card-3 {
  margin: 15px;
}
.card-2 {
  background-color: black;
  color: #FFFFFF;
}
.row-pricing .card-title {
  margin-bottom: 30px;
}
.card-link {
  color: black;
  border: solid 1px black;
  padding: 10px;
}
.card-link-2{
  color: white;
  border: solid 1px white;
  padding: 10px;
}
.card-link .fa-hand-point-right {
  color: #4AE290;
}
.card-link:hover {
  color: #4AE290;
}

/* Start of community section */

#slider2{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-img-community {
  width: 100%;
  height: 350px;
  max-width: 400px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 0.5s;
  color: white;  
  margin: auto;
}
.com-img-1 {
  background-image: url("/media/webImages/gordon-cowie-mark-a.jpg");
}
.com-img-2 {
  background-image: url("/media/webImages/taylor-lauren-k.jpg");
}
.com-img-3 {
  background-image: url("/media/webImages/josh-duke-tom-j.jpg");
}
.com-img-4{
  background-image: url("/media/webImages/subtle-cinematics-ema-b.jpg");
}
.com-img-5 {
  background-image: url("/media/webImages/sushil-ghimire-ashley.jpg");
}
.com-img-8 {
  background-image: url("/media/webImages/alexandra-tran-vigour.jpg");
}

.slide-img-community p {
padding: 0 0 0 10px;
background-color: #000000a2;
}

.tns-controls {
  text-align-last: end;
  background-color: #fff;
}
.prev-com,
.next-com {
background-color: #fff;
border: none;
padding: 0;
margin: 0;
}

.next-com .fa-circle-chevron-right {
  color: black;
}

@media(max-width:1600px){
  .container{
      width: 100%;
 }
}

@media(max-width:1200px){
  .tns-controls {
    text-align-last: center;
  }
}


/* FAQ section start */
.card-faq {
  color: black;
  background-color: white;
  margin: 20px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  
}
.card-header-faq{
  
  color: black;
  border: 1px solid black;
}

.card-body-faq {
  padding: 20px;
}

.accordion-faq {
  text-align: -webkit-center;
  margin-bottom: 50px;
}

.btn-link-faq {
  display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn-link-faq:hover{
  color: #4AE290;
}

.fa-question {
  color: #4AE290;
}
 .faq {
   margin:50px;
 }

 /* End of FAQ section */

 /* Start of Footer section */


footer .row {
  background: black;
  margin: 0;
}

footer .list-inline a {
  margin: 0;
  padding: 0;
  color:#4AE290;
}



footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.fa-stack-1x, .fa-stack-2x{
  line-height: initial !important;
}

.copyright, 
.copyright a {
  font-size: 1.5rem;
  color:white;
}

footer .row{
  margin: 0;
}

.fa-angles-up{
  color:#4AE290;
}

/* footer .list-inline-item a:hover{
  font-size: 120%;
} */


/* End Of INDEX.HTML */


/* Start of SHOP.HTML */

/* Content nav bar  */

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
}

.navbar-shop{
  background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: black  ;
  background-color: #007bff;
  background-color: white;
  border: solid 1px #4AE290;
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row-shop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}


.side-nav-shop .nav-link{
  color: black;
}

.side-nav-shop .active{
  color: black;
  font-weight: bold;
  border: none;
}


  .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
    border: none;
}

.breadcrumb .breadcrumb-item a {
  background-color: white;
  color: #808080;
  border: none;
}

.breadcrumb .active{
  border: none;
  
  color: black;
}

.fa-magnifying-glass {
  border: none;
}

form .card-link{
  border: none;
}

.logo-font {
  background-color: black;
  color: #4AE290;
}

/* Section of products */

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

/* too remove */

.text-black {
  color: #000 !important;
}

a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}

.overlay {
height: 100%;
width: 100%;
top: 0;
left: 0;
position: fixed;
background: white;
z-index: -1;
}

/* Scroll to Top button start */

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

/* Scroll to Top button end */


/* Bag.html styles start */

/* .table-responsive .btn{
  color: #000!important;
} */

/* Start of bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Allauth Start */

/* Allauth End */

/* Product Form Start*/

.btn-file {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

/* actual input itself */
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.to-delete{
  border: none;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Product Form End*/

/* Start Our Trainers */

.trainers {
  margin-top: 100px;
  /* position: fixed; */
  width: 80%;
  height: auto;
  text-align: center;
  margin: 100px auto 0px auto;
  /* top: auto; */
  top: 50%;
  width: 100%;
  z-index: -1;  
  opacity: 0.7;
}

.container-fluid-trainers {
  max-width: 100%;
  position: relative;
}

.text-block {  
  color: white;
  padding-left: 200px;
  padding-right: 200px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 42px;
  
}

.text-block p{
  background-color: #000 0.5;
  
}

.coach-img {
  max-height: 500px;
  width: max-content;
  filter: grayscale();
}

.row-trainers {
  display: flex;
  justify-content: center;
}

.h2-color-trainers {
  color: #4AE290;
  font-weight: 500;
}

.trainer-highlight {
  font-weight: 500;
}

#myBtn2,
#myBtn{
  color: white;
  background-color: black;
  border: 2px solid #4AE290;
  padding: 10px;
}

#more,
#more2 {
  display: none;
}
/* End Our Trainers */