{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- ***** Main Banner Area Start ***** -->
<section id="main-banner bg-image top" class="main-banner">
   <div class="container mb-sm-0 mt-5 pt-3 text-center">
      <div class="row pb-0 pe-lg-0 align-items-center justify-content-center caption">
         <div class="col-lg-5 p-3 p-lg-5 pt-lg-3 text-center">
            <!-- Add Jinja for image and banner text from database in easy tomanipulate -->
            <h2 class=" fw-bold lh-1 main-banner-text">Your Goal<br><em>Our Products.</em></h2>
            <h6 id="banner-h6">We are here to help you get the best version of you!</h6>
         </div>
         <div class="col-lg-6 text-center">
            <!-- Can't load the image from media file -->
            <img class="rounded-lg-3" src="{{ MEDIA_URL }}webImages/pedro-araujo-gym-gear-good.jpg" alt="">            
         </div>
      </div>
   </div>
</section>
<!-- ***** Main Banner Area End ***** -->
{% endblock %}
{% block content %}

<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col-10">
            <h2 class="text-center m-5">Our Members Stories</h2>
            
            <!-- this doesn't work change to pills if needed -->
            {% for blog in blogs %}
            <div class="row">
            <div class="col-4 text-left mt-3">
               <ul class="list-unstyled">       
         
            <li> {{ blog.author }}</li>           
            <li><small> {{ blog.date }}</small></li>
            <li> {{ blog.id }}</li>

            {% if request.user %}
            <small class="ml-3">
                <a href="{% url 'edit_blog' blog.id %}">Edit</a>                  
            </small>
            <small>
            <a type="button" class="" data-toggle="modal" data-target="#exampleModal">
              Delete
            </a>
          </small>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete {{ blog.title }}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    The {{ blog.title }} will be deleted and it will be not possible to return it!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" type="button" href="{% url 'delete_blog' blog.id %}">Delete</a>
                  </div>
                </div>
              </div>
            </div>

        {% endif %}
         
         </ul>
      </div>
      <div class="col-8 text-center">
         <ul class="list-unstyled">
            <li class="m-3"> <h3>{{ blog.title }}</h3></li>
            <li> <p>{{ blog.content }}</p></li>
         </ul>
      </div>
      <hr class="w-50 mb-1">
   </div>
            {% endfor %}
         <!-- untill here -->
        
      </div>
      </div>    
      
                 
       
      </div>
   
   <hr class="mb-1">
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Scroll to Top button in the page -->
<script type="text/javascript">
   $('.btt-link').click(function(e) {
      window.scrollTo(0,0)
   })
</script>

<script type="text/javascript">
   // capturing the change method from the source selector itself
   $('#sort-selector').change(function() {
       var selector = $(this);
       var currentUrl = new URL(window.location);

      // get selected value from selector  
       var selectedVal = selector.val();
       if(selectedVal != "reset"){
           var sort = selectedVal.split("_")[0];
           var direction = selectedVal.split("_")[1];

           currentUrl.searchParams.set("sort", sort);
           currentUrl.searchParams.set("direction", direction);

           window.location.replace(currentUrl);
       } else {
         //   currentUrl.searchParams.delete("sort");
         //   currentUrl.searchParams.delete("direction");

           window.location.replace(currentUrl);
       }
   })
</script>

{% endblock %}