{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- And this will allow support of older Internet Explorer versions
         and eliminate validation errors when validating our HTML.  -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    <!-- Bootstrap CSS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" crossorigin="anonymous">
    
    
    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d5e7c656ac.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>    
    {% endblock %}

    {% block extra_js %}

    {% endblock %}

    <title>Vigour {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <!-- Start of Navbar and hero-banner section -->
      <section>
        <header class="container-fluid fixed-top">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-main">
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">Vig<em>our</em></a>
                    </li>
                </ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>             
                </button>                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-main">
                        <li class="nav-item">
                            <a class="navbar-brand" href="#">Vigour</a>
                        </li>
                    </ul> -->
                    <ul class="navbar-nav mx-auto navbar-main">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#about-us">Workouts</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Community Blog</a>
                        </li> -->                      

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">E-Shop</a>
                          <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'products' %}"> All Products <i class="fa-solid fa-caret-right"></i></a>
                          <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc"> By Price Ascending</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc"> By Price Descending</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc"> By Category</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc"> By Rating</a></li>                            	  
                          </ul>
                        </li>
                          <li><a class="dropdown-item" href="{% url 'products' %}?category=healthy_diet,proteins,amino_acids,health_supplements,supplements_for_slimming"> Food Supplements<i class="fa-solid fa-caret-right"></i> </a>
                           <ul class="submenu dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'products' %}?category=healthy_diet"> For Healthy Diet</a></li>
                              <li><a class="dropdown-item" href="{% url 'products' %}?category=proteins"> Proteins</a></li>
                              <li><a class="dropdown-item" href="{% url 'products' %}?category=amino_acids"> Amino Acids</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=health_supplements"> Health Supplements</a></li>		
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=supplements_for_slimming"> Supplements For Slimming</a></li>		  
                            </ul>
                              </li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=waterbottles,sweatbands_supports,bags,towels">Gym Accessories<i class="fa-solid fa-caret-right"></i> </a>
                             <ul class="submenu dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url 'products' %}?category=waterbottles"> Waterbottles / Flasks</a></li>
                                  <li><a class="dropdown-item" href="{% url 'products' %}?category=sweatbands_supports"> Supports / Sweatbands</a></li>
                                  <li><a class="dropdown-item" href="{% url 'products' %}?category=bags"> Bags</a></li>
                                  <li><a class="dropdown-item" href="{% url 'products' %}?category=towels"> Towels</a></li>				  
                              </ul>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=weights,fitness_ribbons,yoga_equipment"> Gym Equipment<i class="fa-solid fa-caret-right"></i> </a>
                             <ul class="submenu dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url 'products' %}?category=weights"> Weights</a></li>
                                  <li><a class="dropdown-item" href="{% url 'products' %}?category=fitness_ribbons"> Fitness Ribbons</a></li>
                              <li><a class="dropdown-item" href="{% url 'products' %}?category=yoga_equipment"> Yoga Equipment</a></li>	
                                    
                            </ul>
                              </li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=outlet"> Outlet<i class="fa-solid fa-caret-right"></i> </a>
                             <!-- this is commented out to see if it's worth to filter outlet products -->
                                <!-- <ul class="submenu dropdown-menu">
                                  <li><a class="dropdown-item" href=""> Gym Equipment</a></li>
                                  <li><a class="dropdown-item" href=""> Gym Accessories</a></li>
                                  <li><a class="dropdown-item" href=""> Food Supplements</a></li>									  
                            </ul> -->
                              </li>
                           </ul>
                          </li>	  
                      
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Community</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Customers Experience</a>
                                  <a class="dropdown-item" href="#">Community Blog</a>
                                  <a class="dropdown-item" href="#">Our Trainers</a>
                                </div>
                              </li> 
                                   
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Our Trainers</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacts</a>
                        </li>
                        
                    </ul>                   
                    <ul class="navbar-nav mt-lg-0 navbar-side float-right align-items-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                              My Account 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-options">
                                <!-- Nav Menu changes by user authentication, if user is loged in he/she will see specified menu -->
                                {% if request.user.is_authenticated %}
                              <li>                                  
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                </li>
                              <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                                {% else %}
                              <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                              <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                                {% endif %}
                            </ul>
                          </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                      <!-- checking if there is total amount of money worth products -->
                                        {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                        $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </section>
    <!-- end of Navbar and hero-banner section -->  
    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
                {% include 'includes/toasts/toast_success.html' %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  
    <!--Start of  Footer -->
	<footer>
        <div class="container-footer">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center p-3 m-0">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" target="_blank">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://facebook.com/" target="_blank">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/" target="_blank">
                            <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright">2022 Copyright &copy;<a href="#"><br><i class="fa-solid fa-angles-up"></i>Vig<em>our</em></a><span id="copyright"></span></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer --> 
    
    {% block postloadjs %}
    <!-- https://getbootstrap.com/docs/4.6/components/toasts/ -->
    <!-- Putting this in the base HTML template will ensure that every page that loads
          will immediately call the show option on all toasts that have been rendered in the messages container 
        -->
    <script type="text/javascript">
      $('.toast').toast(show);
    </script>    
    {% endblock %}
  </body>
</html>