{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="container" style="min-block-size: 90vh;">
    <div class="row" style="margin-top: 100px">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center text-black bg-white">Product Management</h2>
            <p>Add a product</p>
            <hr>
        </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
          <!-- enctype="multipart/form-data" is to uppload image properly -->
          <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
              <div>
                <a class="btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                <button class="btn-black" type="submit">Add product</button>
              </div>
          </form>

      </div>
        </div>
    </div>
{% endblock %}
