{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <!-- ***** Main Banner Area Start ***** -->
 <section id="main-banner bg-image top" class="main-banner">
  <div class="container mb-sm-0 mt-5 pt-3 text-center">
      <div class="row pb-0 pe-lg-0 align-items-center justify-content-center caption">
          <div class="col-lg-5 p-3 p-lg-5 pt-lg-3 text-center">
            <!-- Add Jinja for image and banner text from database in easy tomanipulate -->
              <h2 class=" fw-bold lh-1 main-banner-text">Your Goal<br><em>Our Products.</em></h2>
              <h6 id="banner-h6">We are here to help you get the best version of you!</h6>              
          </div>
          
          <div class="col-lg-6 text-center">
            <!-- Can't load the image from media file -->
              <img class="rounded-lg-3" src="/media/webImages/pedro-araujo-gym-gear-good.jpg" alt="">
          </div>
      </div>
  </div>  
</section>
  <!-- ***** Main Banner Area End ***** -->

{% endblock %}

{% block content %}
<!-- Special offer for users who has subscription -->
<section>
  <div id="special-offer" class="row text-center">
    <div class="col bg-black text-white">
      <h4 class="logo-font mb-1">10% discount for users who has subscriptions!</h4>
    </div>


  </div>

</section>

<section>
  <div class="container-fluid">
     <!-- bread crumb for mobile phones to navigate easier on the site -->
    <div class="row-shop-1">
      <div class="col-12"></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="{% url 'products' %}">All Products</a></li>
           {% if product.category %}
           <li class="breadcrumb-item">
             <a href="{% url 'products' %}?category={{ product.category.name }}">
          {{ product.category.friendly_name }}
             </a></li>
          
          {% endif %}
           <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
           </ol>
     </nav>
    </div>
    </div>
  </section>

<section>
  
  <div class="container-fluid">
      <div class="row justify-content-center">
      <div class="col-12 col-md-5 col-lg-4 ">
        <div class="image-container my-5">
          <!-- copied from shop.html page and updated -->
          {% if product.image %}
          <a href="{{ product.image.url }}" target="_blank">
              <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
          </a>
          {% else %}
          <a href="">
              <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/webImages/no-image.jpg" alt="{{ product.name }}">
          </a>
          {% endif %}
        </div>

      </div>
      <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
        <div class="product-details-container mb-5 mt-md-5">
          <p class="mb-0 font-weight-bold">{{ product.name }}</p>
          <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
          {% if product.old_price %}
          <p class="lead mb-0 text-left text-danger"><del>${{ product.old_price }}</del></p>
          {% endif %}
          {% if product.category %}
          <p class="small mt-1 mb-0">
             <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
          <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
             </a>
          </p>
          {% endif %}
          {% if product.rating %}
              <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
          {% else %}
              <small class="text-muted">No Rating</small>
          {% endif %}
          <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
            <!-- Must use CSRF token at the very top in order to take advantage of
                Django's cross-site request forgery protection.
                As a security precaution without this token Django won't allow you to submit the form.  -->
            {% csrf_token %}
            <div class="form-row">
              {% with product.has_sizes as s %}
              {% if s %}
                <div class="col-12">
                  <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="2kg">2 KG</option>
                                        <option value="3kg">3 KG</option>
                                        <option value="4kg">4 KG</option>
                                        <option value="5kg" selected>5 KG</option>
                                        <option value="6kg">6 KG</option>
                                        <option value="7kg">7 KG</option>
                                        <option value="8kg">8 KG</option>
                                        <option value="9kg">9 KG</option>
                                        <option value="10kg">10 KG</option>
                                        <option value="12kg">12 KG</option>
                                        <option value="14kg">14 KG</option>
                                        <option value="16kg">16 KG</option>
                                        <option value="18kg">18 KG</option>
                                        <option value="20kg">20 KG</option>
                                        <option value="22kg">22 KG</option>
                                        <option value="30kg">30 KG</option>
                                    </select>
                </div>
              {% endif %}
                <div class="col-12">
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="form-group w-50">
                        <div class="input-group">
                          <!-- Specific product ID and quantity in the form -->
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button class="decrement-qty btn btn-black rounded-0" 
                                  data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                  <span class="icon">
                                      <i class="fas fa-minus"></i>
                                  </span>
                              </button>
                          </div>
                          <input class="form-control qty_input" type="number"
                              name="quantity" value="1" min="1" max="99"
                              data-item_id="{{ product.id }}"
                              id="id_qty_{{ product.id }}">
                          <div class="input-group-append">
                              <button class="increment-qty btn btn-black rounded-0"
                                  data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                  <span class="icon">
                                      <i class="fas fa-plus"></i>
                                  </span>
                              </button>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col{% if s %}-12 mt-2{% endif %}">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <!-- back to products page and keep shoping -->
                        <span class="text-uppercase text-black">Keep Shopping</span>
                    </a>
                    <!-- Submit button to send product to shoping bag -->
                    <input type="submit" class="btn btn-black rounded-0 text-uppercase text-black mt-5" value="Add to Bag">
                </div>
                <!-- redirecting the user back to the same page once the product is added to their bag. -->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                {% endwith %}
            </div>
        </form>
          <p class="mt-3 font-weight-bold">{{ product.highlight }}</p>
          <p class="mt-3">{{ product.description }}</p>
          {% if product.list1  %}
          <ul>
            <li class="mt-3">{{ product.list1 }}</li>
            {% else %}
            <li class="text-muted">Features Coming Soon</li>
            {% endif %}

            {% if product.list2  %}          
            <li class="mt-3">{{ product.list2 }}</li>
            {% else %}
            <li class="text-muted">Features Coming Soon</li>
            {% endif %}

            {% if product.list3  %}          
            <li class="mt-3">{{ product.list3 }}</li>
            {% else %}
            <li class="text-muted">Features Coming Soon</li>
            {% endif %}

            {% if product.list4  %}          
            <li class="mt-3">{{ product.list4 }}</li>
            {% else %}
            <li class="text-muted">Features Coming Soon</li>
            {% endif %}
          </ul>
            
            {% if product.daily_dose  %} 
            <p class="mt-3 font-weight-bold">Daily Dose:</p> 
            <ul>           
            <li class="mt-3">{{ product.daily_dose }}</li>
            {% else %}
            <li class="text-muted">Please check for instructions in manufacturer page or on the package</li>
            {% endif %}
          </ul>
      
      </div>

      </div>

      </div>
      
  </div>
</section>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
{% endblock %}