{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <!-- ***** Main Banner Area Start ***** -->
 <section id="main-banner bg-image top" class="main-banner">
  <div class="container mb-sm-0 mt-5 pt-3 text-center">
      <div class="row pb-0 pe-lg-0 align-items-center justify-content-center caption">
          <div class="col-lg-5 p-3 p-lg-5 pt-lg-3 text-center">
            <!-- Add Jinja for image and banner text from database in easy tomanipulate -->
              <h2 class=" fw-bold lh-1 main-banner-text">Your Goal<br><em>Our Products.</em></h2>
              <h6 id="banner-h6">We are here to help you get the best version of you!</h6>              
          </div>
          
          <div class="col-lg-6 text-center">
            <!-- Can't load the image from media file -->
              <img class="rounded-lg-3" src="/media/webImages/pedro-araujo-gym-gear-good.jpg" alt="">
          </div>
      </div>
  </div>  
</section>
  <!-- ***** Main Banner Area End ***** -->

{% endblock %}

{% block content %}
<!-- Special offer for users who has subscription -->
<section>
  <div id="special-offer" class="row text-center">
    <div class="col bg-black text-white">
      <h4 class="logo-font mb-1">10% discount for users who has subscriptions!</h4>
    </div>


  </div>

</section>

<section>
  <div class="container-fluid">
     <!-- bread crumb for mobile phones to navigate easier on the site -->
    <div class="row-shop-1">
      <div class="col-12"></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">E-Shop</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
    </div>

    <div class="row">
        <div class="col-3 d-none d-md-block m-auto">
          <ul class="nav flex-column side-nav-shop">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          </div>
          
        <div class="col-12 col-md-9 mx-auto m-md-0">
          <nav class="navbar navbar-expand-lg navbar-shop float-right">
          <form class="form-inline my-2 my-lg-0" method="GET" action="">
            <button class="btn card-link my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass m-0"></i></button>
            <input class="form-control mr-sm-0" type="text" name="q"placeholder="Search" aria-label="Search">
            
            
          </form>
        </nav>
        </div>
      </div>

    </div>
  </section>

<section>
  
  <div class="container-fluid">
      <div class="row">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="image-container my-5">
          <!-- copied from shop.html page and updated -->
          {% if product.image %}
          <a href="{{ product.image.url }}" target="_blank">
              <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
          </a>
          {% else %}
          <a href="">
              <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
          </a>
          {% endif %}
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="product-details-container mb-5 mt-md-5">
          <p class="mb-0">{{ product.name }}</p>
          <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
          {% if product.rating %}
              <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
          {% else %}
              <small class="text-muted">No Rating</small>
          {% endif %}
          <p class="mt-3 font-weight-bold">{{ product.highlight }}</p>
          <p class="mt-3">{{ product.description }}</p>
          {% if product.list1, product.list2, product.list3, product.list4  %}
          <ul>
            <li class="mt-3">{{ product.list1 }}</li>
            <li class="mt-3">{{ product.list2 }}</li>
            <li class="mt-3">{{ product.list3 }}</li>
            <li class="mt-3">{{ product.list4 }}</li>
          </ul>
          {% else %}
              <li class="text-muted">Features Coming Soon</li>
              {% endif %}
      </div>

      </div>

      </div>
      
  </div>
</section>

{% endblock %}