{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <!-- ***** Main Banner Area Start ***** -->
 <section id="main-banner bg-image top" class="main-banner">
  <div class="container my-5">
      <div class="row pb-0 pe-lg-0 align-items-center caption">
        <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
          <h2 class=" fw-bold lh-1 main-banner-text">Our products-<em>Yours Goals</em></h2>
              <h6>In our shop you will find main things for active life, outside at the gym or at home.</h6>                  
              <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 main-button scroll-to-section">
              <!-- <a href="#our-program">Join Now!</a>                       -->
              </div>
          </div>
        <div class="col-lg-6 offset-lg-1 p-0 overflow-hidden d-none d-md-block">
            <img class="rounded-lg-3" src="media/logan-weaver-R4V1WIY9n-8-unsplash-main-bigger-size-boxing-girl.jpg" alt="" width="720">
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
</section>
{% endblock %}

{% block content %}

<section>
  <div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                The new collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
  </section>
{% endblock %}