{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- ***** Main Banner Area Start ***** -->
<section id="main-banner bg-image top" class="main-banner">
   <div class="container mb-sm-0 mt-5 pt-3 text-center">
      <div class="row pb-0 pe-lg-0 align-items-center justify-content-center caption">
         <div class="col-lg-5 p-3 p-lg-5 pt-lg-3 text-center">
            <!-- Add Jinja for image and banner text from database in easy tomanipulate -->
            <h2 class=" fw-bold lh-1 main-banner-text">Your Goal<br><em>Our Products.</em></h2>
            <h6 id="banner-h6">We are here to help you get the best version of you!</h6>
         </div>
         <div class="col-lg-6 text-center">
            <!-- Can't load the image from media file -->
            <img class="rounded-lg-3" src="{{ MEDIA_URL }}pedro-araujo-gym-gear-good.jpg" alt="">
            
         </div>
      </div>
   </div>
</section>
<!-- ***** Main Banner Area End ***** -->
{% endblock %}
{% block content %}
<!-- Special offer for users who has subscription -->
<section>
   <div id="delivery-banner" class="row text-center">
      <div class="col bg-black text-white">
          <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
      </div>            
  </div>
   <div class="container-fluid">
   <!-- <div id="special-offer" class="row text-center">
      <div class="col bg-black text-white">
         <h4 class="logo-font mb-1">10% discount for users who has subscriptions!</h4>
      </div>
   </div> -->
     <!-- bread crumb for mobile phones to navigate easier on the site -->
     <div class="row-shop-1">
      <div class="col-12">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'products' %}">All Products</a></li>
            {% for c in current_categories %}
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products' %}?category={{ c.name }}">{{ c.friendly_name }}</a></li>            
            {% endfor %}
         </ol>
      </nav>
   </div>
</div>
<div class="row-shop-1">
   <div class="col-12">
      <p class="text-muted mt-3 text-center text-md-left">
         {% if search_term %} {{ products|length }} Products found for <strong>"{{ search_term }}"</strong>
     </p>
     {% else %}
     <p>
        Total products: {{ products|length }}
     </p>
   </div>
   {% endif %}
</div>
</section>
<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col text-center mt-3">
            <h2 class="">Products</h2>
            <!-- this doesn't work change to pills if needed -->
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
            </a>
        {% endfor %}
         <!-- untill here -->
            <hr class="w-50 mb-1">
         </div>
      </div>    
      <div class="row align-items-md-center">
        
            <div class="col-12 col-md-6 text-center align-items-md-center ">                        
               <div class="sort-select-wrapper float-md-left">
                  <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border w-auto border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                      <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                      <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                      <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                      <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                      <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                      <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                      <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                      <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                      <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                  </select>
              </div>
             
          </div>  
           
         
         <div class="col-12 col-md-6 text-center align-items-md-center">
               <!-- In Django if you use something like product.objects.filter
                   In order to filter a list of products. Everything will be ended together.
                   In the case of our queries that would mean that when a user submits a query.
                   In order for it to match the term would have to appear in both the product name and the product description.
                   Instead, we want to return results where the query was matched in either
                   the product name or the description.
                   In order to accomplish this or logic, we need to use Q -->
                   
 
                   <!-- check if product exist in shop.html -->
                   <form class="form-inline my-2 my-lg-0 float-md-right" method="GET" action="{% url 'products' %}">
                     <button class="btn card-link my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass m-0"></i></button>
                     <input class="form-control mr-sm-0" type="text" name="q"placeholder="Search Products" aria-label="Search">           
                  </form>
       
      </div>
   </div>
   <hr class="mb-1">
</section>
<section>
   <div class="container-fluid">   
      <div class="row">
         <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
               {% for product in products %}
               <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                  <div class="card h-100 border-0">
                     {% if product.image %}
                     <!-- in django need to use '.' instead of '_' to get values of products.  -->
                     <a href="{% url 'product_detail' product.id %}">
                     <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                     </a>
                     {% else %}
                     <a href="{% url 'product_detail' product.id %}">
                     <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                     </a>
                     {% endif %}
                     <div class="card-body pb-0">
                        <p class="mb-0">{{ product.name }}</p>
                     </div>
                     <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                           <div class="col">
                              <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                              {% if product.old_price %}
                              <p class="lead mb-0 text-left text-danger"><del>${{ product.old_price }}</del></p>
                              {% endif %}
                              {% if product.category %}
                              <p class="small mt-1 mb-0">
                                 <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                              <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                 </a>
                              </p>
                              {% endif %}

                              {% if product.rating %}
                              <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                              {% else %}
                              <small class="text-muted">No Rating</small>
                              {% endif %}
                              <!-- if user is super user he/she can edit, delete or update the product -->

                              <!-- because of eeasy to delete accidently it is not active -->
                              
                              <!-- {% if request.user.is_superuser %}
                              <small class="ml-3">
                              <a href="{% url 'edit_product' product.id %}">Edit</a>
                              <a class="" href="{% url 'delete_product' product.id %}">Delete</a>
                              </small>
                              {% endif %} -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- this code is used to get a thematic break after every line of products
                  it depends on screens size so if product is dividible from 1 
                  the horizontal rule or <br> goes after every product on mobile screens
                  this we need tto do because 'cards' is used in colummns but not in the rows-->
               {% if forloop.counter|divisibleby:1 %}
               <div class="col-12 d-sm-none mb-5">
                  <hr>
               </div>
               <!-- if it dividable by 2, so the <br> goes after every twwo products on mobile sscreen sizes
                  because on medium screens it will show two products in each line and so on-->
               {% endif %}                        
               {% if forloop.counter|divisibleby:2 %}
               <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                  <hr>
               </div>
               {% endif %}
               {% if forloop.counter|divisibleby:3 %}
               <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                  <hr>
               </div>
               {% endif %}
               {% if forloop.counter|divisibleby:4 %}
               <div class="col-12 d-none d-xl-block mb-5">
                  <hr>
               </div>
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Scroll to Top button HTML -->
<div class="btt-button shadow-sm rounded-0 border border-black">
   <a class="btt-link d-flex h-100">
       <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
   </a>	
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Scroll to Top button in the page -->
<script type="text/javascript">
   $('.btt-link').click(function(e) {
      window.scrollTo(0,0)
   })
</script>

<script type="text/javascript">
   // capturing the change method from the source selector itself
   $('#sort-selector').change(function() {
       var selector = $(this);
       var currentUrl = new URL(window.location);

      // get selected value from selector  
       var selectedVal = selector.val();
       if(selectedVal != "reset"){
           var sort = selectedVal.split("_")[0];
           var direction = selectedVal.split("_")[1];

           currentUrl.searchParams.set("sort", sort);
           currentUrl.searchParams.set("direction", direction);

           window.location.replace(currentUrl);
       } else {
           currentUrl.searchParams.delete("sort");
           currentUrl.searchParams.delete("direction");

           window.location.replace(currentUrl);
       }
   })
</script>

{% endblock %}