.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

/* focus and active pseudo-classes */
.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* set all select elements and their option children to be black by default */

select,
select option {
  color: black;
}

/* grayed out if there's no country selected */

select:invalid,
select option[value=""] {
  color:#aab7c4 !important;
}

.table td, .table th, .thead th {
  border-bottom:none;
  border-top: none;
}

.table thead th,
.reciept-wrapper h4,
.order-line-border,
.table {
  vertical-align: bottom;
  border-bottom: 1px solid #4AE290;
}